pre span.org-builtin, .org-tree-sitter-hl-faceXtypeXbuiltin,
pre span.org-keyword, .org-tree-sitter-hl-faceXkeyword
{color:#CD0000;font-weight:bold;}
pre span.org-string, .org-tree-sitter-hl-faceXstring                      {color:#008000;}
pre span.org-doc                         {color:#008000;}
.org-tree-sitter-hl-faceXvariableXparameter{color:#8D8D66}
pre span.org-variable-name, .org-tree-sitter-hl-faceXvariable               {color:#BA36A5;}
pre span.org-function-name, .org-tree-sitter-hl-faceXfunction               {color:#006699;}
pre span.org-type,.org-tree-sitter-hl-faceXtype                      {color:#6434A3;}
pre span.org-preprocessor, .org-tree-sitter-hl-faceXfunctionXmacro{color:#68860B;font-weight:bold;}
pre span.org-constant, .org-tree-sitter-hl-faceXconstant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#8D8D84;}
npre span.org-comment, .org-tree-sitter-hl-faceXcomment                     {color:#8D8D84;font-style:italic}
pre.src {
    font-family:               hack;
    font-size:                 80%;
    border-left:               2px dashed #616161;
    border-right:              2px dashed #616161;
    border-top:                2px dashed #616161;
    border-bottom:             2px dashed #616161;
    padding:                   0.5em;
    position:                  relative; /*make pre.src::brfore right top coner*/
}
pre {
    overflow: auto;
    overflow-x: auto;
    border-radius: 4px;
    background-size:           8px 8px;
}
pre.src:before {
    display:                   block;
    position:                  absolute;
    background-color:          transparent;
    top:                       0;
    right:                     0;
    padding:                   0.25em 0.5em;
    border-bottom-left-radius: 8px;
    border:                    2px;
    color:                     #1e3437;
    font-size:                 80%;
    font-style:                italic;
}
pre.src-css:before { content: 'CSS'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-python:before { content: 'Python'; }
pre.example {
    /* font-family:               var(--font-example-family); */
    /* font-size:                 var(--font-example-size); */
}
