body {
    font-family:'TahomaFont','Droid Serif','jinkaiFont', sans-serif;
    font-weight: 400;
}
#org-info-js_console-container {
    bottom:                    0;
    margin-top:                0;
}
#org-info-js-window{
    /* background-color: #0a0a0a; */
    /* color: #f1f1f1; */
}

#postamble ,
#preamble
{
    font-family: angelinaFont;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
    font-size: 18px;
}

#preamble  {
    border-bottom:1px solid #ccc;
    }
#postamble  {
    border-top: 1px solid #ccc;
}

#content {
    line-height: 1.9;
    text-align: justify;
    margin: 1rem auto 4rem auto;
    width: 60rem; //! ju zhong
}

h1 {display:none;}
h2 { font-size: 1em; font-weight: bold; }
h2:before {content: " * "}
h3 { font-size: 1em; font-weight: bold}
h3:before {content: " ** "}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

#content h4 {
    font-size: 100%;
}

#content div.published p {
    font-size: 90%;
    font-style: italic;
    color: #666;
    padding: 0;
    margin: 0 0 12pt 0;
}

#content h2:hover::before {
    content: "§";
    display: block;
    float: left;
    margin: 0 -1.2em 0 -1.2em;
    color:  #ccccd0;
}

#footer {
    margin-top: 0.5em;
}
.timestamp {
  color: #bebebe;
}
a { color: black; text-decoration: none; font-weight: bold}
a:hover { color: white; background-color: black;}
a:before { content: "["; color: black; background-color: white;}
a:after { content: "]"; color: black; background-color: white;}

b{font-weight:700;} /* bold */

/* Ugh, we have to be SUPER specific to reset the content on .pagination li */
#content .pagination li:before {
    content: none;
}

.org-center {
    text-align: center;
}

dt::after {
    content: ":";
}

figure {
    margin: 1.3em 0 1.3em 0;
    padding: 0;
}

img {
    display: block;
    margin: 2em auto;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #eeeeee;
}

figcaption {
    font-size: 90%;
    font-style: italic;
    color: #444;
}

code {
    font-family: 'Droid Sans Mono';
    font-size:80%;
    color: black;
    border: 1px solid #DEDEDE;
    padding: 0px 0.2em;}

/* 表格 */
/* https://www.digitalocean.com/community/tutorials/how-to-style-a-table-with-css */
table{
    width:100%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    font-family:'Driod Sans';
    font-size: 85%;
}
/* 表头 */
thead {
    font-weight: bold;
    border-top:2px solid black;
}
/* 表体 */
tbody{
    border-bottom:2px solid black;
}
td:hover { /* th:hover also if you wish */
    border:1px dashed;
}
/* tr:nth-child(odd) { */
/*     background: #efefef; */
/* } */

/* tr:nth-child(even) { */
/*     background: #f9f9f9; */
/* } */

/* th, td { */
/*     padding: 8px 10px; */
/* } */

caption {
    font-weight:bold;
    text-align: left;
    margin-top: 12pt;
    margin-bottom: 4pt;
}

p.verse,blockquote {
    font-style: italic;
    margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
