html,
body {
    margin: 0;
    padding: 0;
    width: 60%;
    background-color: #FFF;
    color: #333;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-family: Droid Serif;
}
